.header {
  color: rgb(36, 103, 161);
  width: 100%;
  top: 0px;
  background-color: #145474;
  display: flex;
  align-items: center;
  flex-direction: row;
  /* align-items: center; */
  position: sticky;

}

.nav {
  background: #86060672;
  /* top: 0; */
  /* width: 100%; */
  /* height: 50%; */
  display: flex;
  width: 100%;
  align-items: center;
}
.navigation-main a {
  color: #fff;
  text-decoration: none;
  /* display: block; */
  white-space: nowrap;
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
  list-style: none;
  width: 100%;
  text-align: center;
}

.navigation-main a:hover {
  color: #3769b1;
}

.navigation-main {
  /* align-items: right; */
  /* float: right; */
  overflow: hidden;
  margin: 0px;
  padding: 0px 10px;
  list-style: none;
  /* position: absolute; */
  /* text-align: center; */
  /* left: -999em; */
  background-color: #18181839;
  display: inline-block;
  float: right;
}

.navigation-main li {
  float: right;
}
.navigation-main li a {
  /* display: inline-block; */
  position: relative;
  /* align-content: right; */
  margin: 12px 12px;
  padding: 12px 12px;
  text-align: center;
}
.nav h4 {
    color: rgb(36, 103, 161);
    padding: 5px 10px;
    margin: 5px 10px;
    display: inline-block;
  /* float: left; */
  position: relative;
  /* text-align: center;   */
}