<!-- <header style="align-items: center; display: flex; text-align: center; position: absolute;">
  <h3 style="display: inline; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color :tomato; font-size: x-large; text-shadow: dimgray;">Finding Falcone</h3>
  <ul style=" float: right; display: flex; list-style: none;">
    <li style = " display: inline-block; font-size: 20px; font-weight: bold; ">
      <a style="display: inline-block;" routerLink="">Home</a>
    </li>
    <li style = " display: inline-block; font-size: 20px; font-weight: bold;">
      <a style="display: inline-block;" href="#" (click)="onReset()">Reset</a>
    </li>
  </ul>
</header> -->
<header class="header">
  <nav class="nav">
    <ul class="navigation-main">
      <h4>Fniding Falcone</h4>
      <li class="current-menu-item"><a routerLink="">Home</a></li>
      <li class=""><a routerLink="">Reset</a></li>
      <li><a routerLink="">Find</a></li>
      <li><a routerLink="">Result</a></li>
    </ul>
  </nav>
</header>