<div class="row">
  <div class="col-lg-12 spacing-20 intro">
      <!-- <img src="../../../assets/images/king_shan.jpg" alt="king shan" /> -->

      <h1>Welcome to the planet of Lengaburu</h1>
      <br>
      <div class="container">
          
              <p>
                  After the recent war with neighbouring planet Falicornia, King Shan has exiled the Queen of
                  Falicornia for
                  15 years.Queen Al Falcone is now in hiding. But if King Shan can find her before the years are up,
                  she will
                  be exiled for another 15 years....
              </p>
              <a class="btn btn-large btn-primary" routerLink="findfalcon"> Help King Shan find Al Falcone </a>
         
          
      </div>


  </div>
</div>