<div class="row">
  <div class="col-lg-12 spacing-20 intro">
      <img src="../../../assets/images/king_shan.jpg" alt="king shan" />

      <h1>Welcome to the planet of Lengaburu</h1>
      <br>
      <div class="container">
          
              <p>
                  After the recent war with neighbouring planet Falicornia, King Shan has exiled the Queen of
                  Falicornia for
                  15 years.Queen Al Falcone is now in hiding. But if King Shan can find her before the years are up,
                  she will
                  be exiled for another 15 years....
              </p>
              <p>
                  King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets - DonLon,
                  Enchai,
                  Jebing, Sapir, Lerbin & Pingasor. However he has limited resources at his disposal & can send his
                  army to
                  only 4 of these planets. Your task is to help King Shan find Al Falcone.
              </p>

              <a class="btn btn-large btn-primary" routerLink="planets"> Help King Shan find Al Falcone </a>
         
          
      </div>


  </div>
</div>