<div>
  <p class="allignCenter">
      King Shan has received intelligence that Al Falcone is in hiding in one of these 6 planets - DonLon,
      Enchai,
      Jebing, Sapir, Lerbin & Pingasor. However he has limited resources at his disposal & can send his
      army to
      only 4 of these planets. Your task is to help King Shan find Al Falcone.
  </p>

  <div>
    <h4 style="text-align:center">Select the Planets where you want to send the army : </h4>
  </div>
  <div class="allignCenter">
    <div style="display: inline-block">
      <div class="planetGroup" *ngFor="let planetId of noOfDestinations">
        <app-planet [id] = "planetId" [unselectedPlanets] = "unselectedPlanets" (onSelectPlanet)="onSelectPlanet($event)"></app-planet>
      </div>
      <div class="planetGroup" *ngIf="timeTaken!=0">
        Time Taken : {{timeTaken}}
      </div>
    </div>
  </div>

  <div  *ngIf="anyPlanetSelected()">
    <h4 style="text-align:center">Select any four Vehicles in which you want to send the army : </h4>
    <div style="display: inline-block;">
      <div *ngFor="let vehicleId of noOfDestinations" class="vehicleSelect">
        <app-vehicle *ngIf="selectedPlanetsId[vehicleId] !== -1" [id] = "vehicleId" [unselectedVehicles] = "unselectedVehicles" [DisabledVehicles] = "disabledVehiclesList[vehicleId]" (onSelectVehicle)="onSelectVehicle($event)"></app-vehicle>
      </div>
    </div>
  </div>


  <div style="text-align: center; align-items: center; align-content: center;">
    <button [disabled]="!isReadyForExpedition" (click)="getResult()">Find Falcone!</button>
  </div>
</div>